---
const { name, image, favorite_emoji, github_permalink, github_profile, codepen_profile, bio } = Astro.props;
---

<style>
  .backtohome {
    margin-bottom: 1rem;
    text-decoration: none;
    color: #333;
    font-weight: bold;
  border: 2px solid #333;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }

</style>

<button onclick="window.location.href='/'" class="backtohome">Back to Home</button>

<img src={image} alt={name} />
<h1><span>{favorite_emoji}</span> {name}</h1>
<p> {bio} </p>
<nav>
  <a href={github_permalink} target="_blank" rel="noopener">Portfolio</a>
  <a href={github_profile} target="_blank" rel="noopener">GitHub</a>
  <a href={codepen_profile} target="_blank" rel="noopener">CodePen</a>
</nav>